body            { font-family: sans-serif; background: #eee; }
a               { margin: 0 7px 0 0; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
.page           { margin: 2em auto; width: 50em; border: 5px solid #ccc;
                    padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                    margin-bottom: 1em; background: #EBF5FB; }
.flash          { background: #CEE5F5; padding: 0.5em; margin-bottom: 0.5em;
                    border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.logo           { vertical-align: text-top }
.room           { background: #CEE5F5; width: 15em; padding: 0.5em;
                    color: #778E9E;
                    border: 3px solid #778E9E;
                    float: left; margin: 0.3em auto; }
.module         { background: #CEE5F5; width: 15em; height: 20em; padding: 0.5em;
                    border: 3px solid #AACBE2; float: left; margin: 0.3em auto; }
.lamp-module    { background: #CEE5F5; width: 15em; height: 20em; padding: 0.5em;
                    color: #667A88;
                    border: 3px solid #667A88; float: left; margin: 0.3em auto;
                    height: 12em; }
.appliance-module { background: #97C897; width: 15em; padding: 0.5em;
                    color: #316F31;
                    border: 3px solid #316F31; float: left; margin: 0.3em auto;
                    height: 12em; }
.name           { padding: 0.2em; color: #377BA8; background: #EBF5FB}
.description    { text-indent: 2em }
.hdc            { margin: 0.2em; }
.edit-button    { left: 2em; margin-top: 0.5em; padding: 0.2em; }
.footer         { clear: both; margin-top: 2em; padding: 0.5em;
                    background: #EBF5FB;
                    color: #377BA8; font-size: 0.7em }
.copyright      { float: right; }
.clear          { clear: both }
.input-form     { margin: 1em auto; }
.input-text     { margin: 0.3em auto; }
.input-number   { margin: 0.3em auto; width: 2em; }
.input-label    { margin: 0.3em auto; display: block }

/* Styling for anchor to make it look like a button */
.a-button       { text-decoration: none; border: 1px solid #A0A0A0;
                    background: #F8F8F8 ; padding: 1px 8px 1px 8px;
                    text-align: center; border-radius: 5px;
                    font-size: 0.7em; color: #000000;
                    margin: 0; vertical-align: middle; }

/* Table styling for the Programs list on module_programs page */
/* Based on: http://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
#programs      { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                    width: 100%;
                    border-collapse: collapse;
                    margin: 1em auto;
                    }

#programs td, #programs th {
                    font-size: 1em;
                    border: 1px solid #98bf21;
                    padding: 3px 7px 3px 7px;
                    height: 1.5em;
                    }

#programs th {
                    font-size: 1.1em;
                    text-align: left;
                    padding-top: 5px;
                    padding-bottom: 4px;
                    background-color: #377BA8;
                    color: #ffffff; }

#programs tr.alt td {
                    color: #000000;
                    background-color: #EBF5FB; }


/* This removes the closer X from jQuery UI dialog boxes */
.ui-dialog-titlebar-close
                { visibility: hidden; }