{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block body %}
    <h2>All house/device codes in use for house: {{ house.name }}</h2>
        <table id="programs">
            <tr>
                <th>House/Device Code</th>
                <th>Room</th>
                <th>Module</th>
            </tr>
            {% for module in modules %}
                {% if loop.index is not divisibleby 2 %}
                <tr>
                {% else %}
                <tr class="alt">
                {% endif %}
                    <td>{{ module.house_code }}{{ module.device_code }}</td>
                    <td>{{ module.room_name }}</td>
                    <td>{{ module.name }}</td>
                </tr>
            {% endfor %}
        </table>

    <div class="clear"></div>

{% endblock %}

{% block footer_links %}
{% endblock %}