{% extends "layout.html" %}

{% block head %}
    {#
        jQuery UI Dialogs
    #}
    {# The jQuery UI dialog for confirming room removal #}
    <div id="dialog" title="Confirmation">
        <p id="dialog-text">Remove the selected room?</p>
    </div>

    {# The jQuery UI dialog for displaying download #}
    <div id="download-progress-dialog" title="Download in Progress">
        <br/>
        {# TODO Probably need some styling on the spinner image #}
        <img id="img-spinner" class="img-spinner" src="{{ url_for('static', filename='ajax-loader.gif') }}"
             alt="Loading" style="display:block; margin-left:auto; margin-right:auto;"/>
    </div>

    {# The jQuery UI dialog for displaying download results #}
    <div id="download-results-dialog" title="Download Results">
        <p id="download-results">Results</p>
    </div>

    <script type="text/javascript">
        /* Initialize the confirmation dialog */
        $(document).ready(function() {
            $("#dialog").dialog(
            {
                autoOpen: false,
                modal: true,
                closeOnEscape: false,
                buttons: {
                    "Remove": function(event) {
                        $("#dialog").dialog( "close" );
                        $("#room-form-" + $(this).data("roomid")).submit();
                        },
                    "Cancel": function(event) {
                        $("#dialog").dialog( "close" );
                        }
                }
            });

            {# Initialize the download dialog boxes #}
            $("#download-progress-dialog").dialog(
            {
                autoOpen: false,
                modal: true,
                closeOnEscape: false,
            });
            $("#download-results-dialog").dialog(
            {
                autoOpen: false,
                modal: true,
                closeOnEscape: true,
                buttons: {
                    "Close": function(event) {
                        $("#download-results-dialog").dialog( "close" );
                        },
                }
            });

        });

        /* Show confirmation dialog for removing a room */
        function showDialog(roomid){
            /* Set the value of the hidden button tag to reflect this is a remove */
            $("#submit-button-" + roomid).val("remove");
            /* Set the dialog text with the room name */
            $("#dialog-text").text("Remove room: " + $("#room-name-" + roomid).text() + "?");
            /* Spring the dialog for the given room */
            $("#dialog")
                .data("roomid", roomid)
                .dialog("open");
        };

        /* Show modules for a room */
        function showModules(roomid){
            $("#submit-button-" + roomid).val("showmodules");
            $("#room-form-" + roomid).submit();
        };

        {# Download actions and programs. Makes an AJAX call to url /download_programs #}
        function downloadPrograms(){
            $("#download-progress-dialog").dialog("open")
            $.post("{{ url_for('download_programs') }}",
            {
                {# Data intentionally empty #}
            },
            function(result, status){
                $("#download-progress-dialog").dialog("close")
                $("#download-results").html(result)
                $("#download-results-dialog").dialog("open")
            });
        }

    </script>

{% endblock %}

{% block body %}
    <h2>Home</h2>
    <p>This is the home page for the AHPS Web server.</p>

    <h2>Rooms for {{ house.name }}</h2>
        {% for room in rooms %}
            <div class="room">
                <form id="room-form-{{ room.roomid }}" action="" method="post">
                    <input type="hidden" name="roomid" value="{{ room.roomid }}"/>
                    <div id="room-name-{{ room.roomid }}"  class="name">{{ room.name }}</div>
                    <div class="description">
                        {% if room.description %}
                            {{ room.description }}
                        {% else %}
                            <span>&nbsp;</span>
                        {% endif %}
                    </div>
                    {# This is used to send the button that was clicked #}
                    <input id="submit-button-{{ room.roomid }}" type="hidden" name="button" value=""/>
                    {# These buttons are used to capture user clicks. The underlying Javascript
                    will set the id=submit-button value to indicate the button that was clicked. #}
                    <button onclick="showModules({{ room.roomid }})"  class="edit-button" name="show-button" type="button"
                            value="showmodules">Modules</button>
                    <button onclick="showDialog({{ room.roomid }})" class="edit-button" name="remove-button" type="button"
                            value="remove">Remove Room</button>
                </form>
{#
                <form id="remove" action="" method="post">
                    <input type="hidden" name="roomid" value="{{ room.roomid }}"/>
                    <input id="submit-button" type="hidden" name="button" value="remove"/>
                    <button onclick="showDialog()" class="edit-button" name="remove-button" type="button"
                            value="remove">Remove Room</button>
                </form>
#}
            </div>
        {% endfor %}

        <div class="clear"></div>
        <form action="" method="post">
            <button class="edit-button" name=button type="submit" value="addroom">Add a Room</button>
            <button class="edit-button" name="download" type="button" onclick="downloadPrograms();">Download</button>
        </form>
{% endblock %}

{% block footer_links %}
    <a href="{{ url_for('houses') }}">Houses</a>
    <a href="{{ url_for('all_house_codes') }}">All House/Device Codes</a>
    {% if current_user.username == "admin" %}
        <a href="{{ url_for('administration') }}">User Administration</a>
    {% endif %}
{% endblock %}