<!doctype html>
<title>AHPS Web</title>

<head>
    {# This uses the stock distribution of jQuery and jQueryUI #}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>

<div class="page">
	<h1><img class="logo" src="{{ url_for('static', filename='AtHomeX10.png') }}" />AHPS Web</h1>
	<div class="metanav">
		{% if not session.logged_in %}
			<a href="{{ url_for('login') }}">log in</a>
		{% else %}
			<a href="{{ url_for('logout') }}">log out</a>
		{% endif %}
	</div>

    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}

    <div class="clear"></div>
    <div class="footer">
        <a href="{{ url_for('home') }}">Home</a>
        <div class="copyright">
            AtHomePowerlineServer Web -- Copyright 2014 by Dave Hocker
        </div>
    </div>
</div>