{% extends "layout.html" %}

{% block head %}
    {# The jQuery UI dialog for confirming module removal #}
    <div id="dialog" title="Confirmation">
        <p id="dialog-text">Remove the selected module?</p>
    </div>
    <script type="text/javascript">
        /* Initialize the confirmation dialog */
        $(document).ready(function() {
            $("#dialog").dialog(
            {
                autoOpen: false,
                modal: true,
                closeOnEscape: false,
                buttons: {
                    "Remove": function(event) {
                        $("#dialog").dialog( "close" );
                        $("#module-form-" + $(this).data("moduleid")).submit();
                        },
                    "Cancel": function(event) {
                        $("#dialog").dialog( "close" );
                        }
                }
            });

        });

        /* Show confirmation dialog for removing a module */
        function showDialog(moduleid){
            /* Set the value of the hidden button tag to reflect this is a remove */
            $("#submit-button-" + moduleid).val("remove");
            /* Set the dialog text with the room name */
            $("#dialog-text").text("Remove " + $("#module-name-text" + moduleid).val() + "?");
            /* Spring the dialog for the given room */
            $("#dialog")
                .data("moduleid", moduleid)
                .dialog("open");
        };

        /* Submit the form */
        function submitForm(form_action, moduleid){
            $("#submit-button-" + moduleid).val(form_action);
            $("#module-form-" + moduleid).submit();
        };

    </script>
{% endblock %}

{% block body %}
    <h2>Modules for room: {{ room.name }}</h2>
        {% for module in modules %}
            <form id="module-form-{{ module.moduleid }}" action="{{ room.roomid }}" method="post">
                <div class="{{ module.module_type }}-module">
                    <input type="hidden" name="moduleid" value="{{ module.moduleid }}">
                    <input type="hidden" name="module_type" value="{{ module.module_type }}">
                    <div id="module-name-{{ module.moduleid }}" class="name">
                        <label for="module-name-text{{ module.moduleid }}" class="input-label">{{ module.module_type | capitalize() }}</label>
                        <input type="text" id="module-name-text{{ module.moduleid }}" name="module-name" value="{{ module.name }}"/>
                    </div>
                    <div class="hdc">
                        {% if module.module_type == 'house' %}
                            <span class="hdc-text">{{ module.house_code }}</span>
                            {% include 'house_codes.html' %}
                        {% else %}
                            {# appliance or lamp #}
                            <span class="hdc-text">{{ module.house_code }}{{ module.device_code }}</span>
                            {% include 'house_codes.html' %}
                            {% include 'device_codes.html' %}
                            {% if module.module_type == 'lamp' %}
                                <span class="hdc-text">Dim:</span>
                                <input type="text" id="dim_amount" name="dim_amount" class="input-number"
                                            value="{{ module.dim_amount }}"/>
                            {% else %}
                                <br/>
                            {% endif %}
                        {% endif %}
                    </div>
                    {# This is used to send the button that was clicked #}
                    <input id="submit-button-{{ module.moduleid }}" type="hidden" name="button" value=""/>
                    {# These buttons are used to capture user clicks. The underlying Javascript
                    will set the id=submit-button value to indicate the button that was clicked. #}
                    <button onclick="submitForm('save', {{ module.moduleid }})" class="edit-button" name="save-button"
                        type="button" value="save">Save Module</button>
                    {% if module.module_type != 'house' %}
                        <button onclick="submitForm('editprograms', {{ module.moduleid }})" class="edit-button" name="edit-button" type="button" value="editprograms">Programs</button>
                    {% endif %}
                    <br/>
                    <button onclick="submitForm('on', {{ module.moduleid }})" class="edit-button" name="on-button" type="button" value="on">On</button>
                    <button onclick="submitForm('off', {{ module.moduleid }})" class="edit-button" name="off-button" type="button" value="off">Off</button>
                    <br/>
                    <button onclick="showDialog({{ module.moduleid }})" class="edit-button" name="remove-button" type="button" value="remove">Remove Module</button>
                </div>
            </form>
        {% endfor %}

    <div class="clear"></div>

    {# Buttons for adding various module types #}
    <form action="add_module" method="post">
        <button class="edit-button" name=add-appliance type="submit" value="{{ room.roomid }}">Add Appliance</button>
        <button class="edit-button" name=add-lamp type="submit" value="{{ room.roomid }}">Add Lamp</button>
    </form>
{% endblock %}