{% extends 'layout.html' %}

{% block body %}
    <h2>Create New User</h2>

    <form action="new_user_page/save" method="POST" class="input-form">
        <label class="input-label">User name</label>
        <input type="text" class="input-text" name="user_name"/>
        <br/>
        <label class="input-label">Password</label>
        <input type="password" class="input-text" name="password"/>
        <br/>
        <label class="input-label">Re-type password</label>
        <input type="password" class="input-text" name="retype-password"/>
        <br/>
        <input type="submit" class="edit-button" name="submit" value="Create">
    </form>

{% endblock %}