{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript">
        {# Page initialization #}
        $(document).ready(function() {
            {#
            Set checkboxes for days of week based on contents of program.days string.
            The string looks like this: "MTWTFSS" (Monday through Sunday). Absent days
            are represented by a period. This is weekdays: "MTWTF.."
            #}
            for (i = 0; i < 7; i++)
            {
                d = "{{ program.days }}".substr(i, 1);
                if (d != '.')
                {
                    dow = "dow" + String(i);
                    $("#" + dow).attr("checked","checked");
                }
            }

            {#  Initialize randomize checkboxes #}
            if ({{ program.start_randomize }} != 0)
            {
                $("#start-randomize").attr("checked","checked");
            }
            if ({{ program.stop_randomize }} != 0)
            {
                $("#stop-randomize").attr("checked","checked");
            }

        });

        function setWeekdays(){
            $('.weekday').each(function(){ this.checked = !this.checked; });
        }

        function setWeekenddays(){
            $('.weekendday').each(function(){ this.checked = !this.checked; });
        }

        function showHideFieldset(name){
            fs_name = "#" + name;
            $(fs_name).is(":visible") ? $(fs_name).hide() : $(fs_name).show();
        }

        function startTriggerChanged(){
            // alert("start trigger was changed");
            // TODO Cases for each trigger method. Show/hide group boxes.
        }

        function stopTriggerChanged(){
            // alert("stop trigger was changed");
            // TODO Cases for each trigger method. Show/hide group boxes.
        }

    </script>
{% endblock %}

{# Macros for the program actions that can be assigned to a start or stop event #}

{% macro select_option(value, selected_value) -%}
    <p>{{ selected_value }}</p>
    {% if value == selected_value %}
        <option value="{{ value }}" selected="true">{{ value | capitalize() }}</option>
    {% else %}
        <option value="{{ value }}">{{ value | capitalize() }}</option>
    {% endif %}
{%- endmacro %}

{% macro program_actions(id, class, name, selected_value) %}
    <select id="{{ id }}" class="{{ class }}" name="{{ name }}">
        {{ select_option("none", selected_value) }}
        {{ select_option("on", selected_value) }}
        {{ select_option("off", selected_value) }}
    </select>
{% endmacro %}

{# Macros for generating the start/stop trigger method #}

{% macro trigger_methods(id, class, name, selected_value, onchange) %}
    <select id="{{ id }}" class="{{ class }}" name="{{ name }}" onchange="javascript:{{ onchange }}">
        {{ select_option("none", selected_value) }}
        {{ select_option("clock-time", selected_value) }}
        {{ select_option("sunset", selected_value) }}
        {{ select_option("sunrise", selected_value) }}
    </select>
{% endmacro %}

{% block body %}
    <form action="" method="post">
        <h2>Module: {{ module.name }} - Program:
            <input type="text" class="input-program-name" name="program-name" value="{{ program.name }}" >
        </h2>

        {#
        Days of week group box
        #}

        <fieldset id="days-of-week" class="days-of-week">
            <legend>Days</legend>
            {# The initial state of the checkboxes is set by Javascript above #}
            <input type="checkbox" class="weekday" id="dow0" name="dow0" value="0" >Monday<br/>
            <input type="checkbox" class="weekday" id="dow1" name="dow1" value="1" >Tuesday<br/>
            <input type="checkbox" class="weekday" id="dow2" name="dow2" value="2" >Wednesday<br/>
            <input type="checkbox" class="weekday" id="dow3" name="dow3" value="3" >Thursday<br/>
            <input type="checkbox" class="weekday" id="dow4" name="dow4" value="4" >Friday<br/>
            <input type="checkbox" class="weekendday" id="dow5" name="dow5" value="5" >Saturday<br/>
            <input type="checkbox" class="weekendday" id="dow6" name="dow6" value="6" >Sunday<br/>

            <button type="button" onclick="setWeekdays()">Week Days</button>
            <button type="button" onclick="setWeekenddays()">Week End</button>
        </fieldset>

        {#
        Start trigger group box
        #}

        <fieldset class="start-trigger-group">
            <legend>Start/On Trigger</legend>
            {# Start trigger macro #}
            {{ trigger_methods("start-trigger-method", "start-trigger-method", "start-trigger-method",
                program.start_trigger_method, "startTriggerChanged()") }}

            <fieldset id="start-time" class="start-time">
                <legend>Start time</legend>
            </fieldset>

            <fieldset id="start-sunset-offset" class="sunset-offset">
                <legend>Sunset Offset</legend>
            </fieldset>

            <fieldset id="start-sunrise-offset" class="sunrise-offset">
                <legend>Sunrise Offset</legend>
            </fieldset>

            <fieldset id="start-randomize-group" class="start-randomize-group">
                <legend>Randomize</legend>
                <input type="checkbox" class="start-randomize" id="start-randomize" name="start-randomize" value="1" >Randomize +/-
                <input type="text" class="input-number" name="start-randomize-amount" value="{{ program.start_randomize_amount }}">
                <br/>
            </fieldset>
        </fieldset>

        {#
        Stop trigger group box
        #}

        <fieldset class="stop-trigger-group">
            <legend>Stop/Off Trigger</legend>
            {# Stop trigger macro #}
            {{ trigger_methods("stop-trigger-method", "stop-trigger-method", "stop-trigger-method",
                program.stop_trigger_method, "stopTriggerChanged()") }}

            <fieldset id="stop-time" class="stop-time">
                <legend>Stop time</legend>
            </fieldset>

            <fieldset id="stop-sunset-offset" class="sunset-offset">
                <legend>Sunset Offset</legend>
            </fieldset>

            <fieldset id="stop-sunrise-offset" class="sunrise-offset">
                <legend>Sunrise Offset</legend>
            </fieldset>

            <fieldset id="stop-randomize-group" class="stop-randomize-group">
                <legend>Randomize</legend>
                <input type="checkbox" class="stop-randomize" id="stop-randomize" name="stop-randomize" value="1" >Randomize +/-
                <input type="text" class="input-number" name="stop-randomize-amount" value="{{ program.stop_randomize_amount }}">
                <br/>
            </fieldset>
        </fieldset>

        <div class="clear"></div>

        {#
        Start and Stop action group boxes
        #}

        <fieldset class="start-action-group">
            <legend>Start Action</legend>
            {{ program_actions("start-action", "start-action", "start-action", program.start_action) }}
        </fieldset>

        <fieldset class="stop-action-group">
            <legend>Stop Action</legend>
            {{ program_actions("stop-action", "stop-action", "stop-action", program.stop_action) }}
        </fieldset>

        <div class="clear"></div>
        <button class="edit-button" name="save" type="submit" value="save">Save</button>
        <button class="edit-button" name="cancel" type="submit" value="cancel">Cancel</button>
    </form>

    <div class="clear"></div>

{% endblock %}

{% block footer_links %}
    <a href="{{ url_for('module_programs', moduleid=program.moduleid) }}">Back</a>
{% endblock %}