{% extends "layout.html" %}

{% block head %}
    <script type="text/javascript">
        {# Page initialization #}
        $(document).ready(function() {
            {#
            Set checkboxes for days of week based on contents of program.days string.
            The string looks like this: "MTWTFSS" (Monday through Sunday). Absent days
            are represented by a period. This is weekdays: "MTWTF.."
            #}
            for (i = 0; i < 7; i++)
            {
                d = "{{ program.days }}".substr(i, 1);
                if (d != '.')
                {
                    dow = "dow" + String(i);
                    $("#" + dow).attr("checked","checked");
                }
            }

            {#  Initialize randomize checkboxes #}
            if ({{ program.start_randomize }} != 0)
            {
                $("#start-randomize").attr("checked","checked");
            }
            if ({{ program.stop_randomize }} != 0)
            {
                $("#stop-randomize").attr("checked","checked");
            }

            {# Initialize start and stop triggers. #}
            startTriggerChanged();
            stopTriggerChanged();

            {# Initialize time controls #}
            {# We have to explicitly supply the spinnerImage because the widget looks for the
               default in a fixed location (starting from the root of the page). #}
            $.timeEntry.setDefaults({
                spinnerImage: "{{ url_for('static', filename='timeentry/spinnerBlue.png') }}",
                spinnerBigImage: "{{ url_for('static', filename='timeentry/spinnerBlueBig.png') }}",
                ampmPrefix: " "
                });
            $("#start-time").timeEntry();
            $("#stop-time").timeEntry();

            {# Initialize sunset/sunrise times #}
            show_offset_time("start-trigger-method", "start-offset", "start-offset-time", "start-time");
            show_offset_time("stop-trigger-method", "stop-offset", "stop-offset-time", "stop-time");
        });

        function setWeekdays(){
            $('.weekday').each(function(){ this.checked = !this.checked; });
        }

        function setWeekenddays(){
            $('.weekendday').each(function(){ this.checked = !this.checked; });
        }

        function showHideFieldset(name){
            fs_name = "#" + name;
            $(fs_name).is(":visible") ? $(fs_name).hide() : $(fs_name).show();
        }

        function startTriggerChanged(){
            // Cases for each trigger method. Show/hide group boxes.
            triggerMethod = $("#start-trigger-method").val();
            switch (triggerMethod.toLowerCase())
            {
                case "none":
                    $("#start-time-group").hide();
                    $("#start-offset-group").hide();
                    $("#start-randomize-group").hide();
                    break;
                case "clock-time":
                    $("#start-time-group").show();
                    $("#start-offset-group").show();
                    $("#start-randomize-group").show();
                    break;
                case "sunset":
                    $("#start-time-group").hide();
                    $("#start-offset-group").show();
                    $("#start-randomize-group").show();
                    break;
                case "sunrise":
                    $("#start-time-group").hide();
                    $("#start-offset-group").show();
                    $("#start-randomize-group").show();
                    break;
            }
        }

        function stopTriggerChanged(){
            // Cases for each trigger method. Show/hide group boxes.
            triggerMethod = $("#stop-trigger-method").val();
            switch (triggerMethod.toLowerCase())
            {
                case "none":
                    $("#stop-time-group").hide();
                    $("#stop-offset-group").hide();
                    $("#stop-randomize-group").hide();
                    break;
                case "clock-time":
                    $("#stop-time-group").show();
                    $("#stop-offset-group").show();
                    $("#stop-randomize-group").show();
                    break;
                case "sunset":
                    $("#stop-time-group").hide();
                    $("#stop-offset-group").show();
                    $("#stop-randomize-group").show();
                    break;
                case "sunrise":
                    $("#stop-time-group").hide();
                    $("#stop-offset-group").show();
                    $("#stop-randomize-group").show();
                    break;
            }
        }

        {# Valid all inputs on submit #}
        function validate_inputs(){
            if (!validate_numeric_control("start-offset", "Start offset")){
                return false;
            }
            if (!validate_numeric_control("stop-offset", "Stop offset")){
                return false;
            }
            if (!validate_numeric_control("start-randomize-amount", "Start randomize")){
                return false;
            }
            if (!validate_numeric_control("stop-randomize-amount", "Stop randomize")){
                return false;
            }

            return true;
        }

        {# Validate a numeric control #}
        function validate_numeric_control(control_id, name){
            target_id = "#" + control_id
            value = $(target_id).val()
            if (!$.isNumeric(value)){
                alert(name + " must be a number. Try again!");
                $(target_id).focus();
                return false;
            }
            return true;
        }

        function submit_form(){
            if (validate_inputs()){
                $("#program-form").submit();
            }
        }

        {# Retrieve the sunset time as a Date object #}
        function get_sunset(){
            var s = $("#sunset").val();
            return new Date(Date.parse(s));
        }

        {# Retrieve the sunrise time as a Date object #}
        function get_sunrise(){
            var s = $("#sunrise").val();
            return new Date(Date.parse(s));
        }

        {#
        For sunset and sunrise base triggers, show the effective time.
        the sunset/sunrise times are in hidden elements. The start/stop
        offset is added to the sunrise/sunset time to obtain the
        effective time. Does not apply to clock-time trigger.
        #}
        function show_offset_time(method_id, offset_id, time_id, clock_time_id){
            var $method = $("#" + method_id);
            var $offset = $("#" + offset_id);
            var $time = $("#" + time_id);

            var offset = parseInt($offset.val());

            if ($method.val() == "sunset"){
                var sunset = get_sunset();
                sunset.setMinutes(sunset.getMinutes() + offset);
                $time.text(sunset.toLocaleTimeString());
            }
            else if ($method.val() == "sunrise"){
                var sunrise = get_sunrise();
                sunrise.setMinutes(sunrise.getMinutes() + offset);
                $time.text(sunrise.toLocaleTimeString());
            }
            else {
                {#
                Unfortunately, the clock-time string is not in a Javascript friendly format.
                As a result, we have to manipulate the string to get it from a format of
                HH:mm AM to yyyy-mm-ddThh:mm (ISO format). The HH:mm AM format uses 12:00 AM
                to represent midnight, another complicating factor.
                #}
                var clock_time_str = $("#" + clock_time_id).val().substring(0, 5);
                var ampm =$ ("#" + clock_time_id).val().substring(6, 8);
                clock_time_str = "2014-01-01T" + clock_time_str;
                var clock_time = new Date(Date.parse(clock_time_str));
                {# Adjust for 12:00 AM #}
                if (ampm == "AM" && $("#" + clock_time_id).val().substring(0, 2) == "12"){
                    clock_time.setHours(clock_time.getHours() + -12);
                }
                {# Adjust for PM #}
                if (ampm == "PM" && $("#" + clock_time_id).val().substring(0, 2) != "12"){
                    clock_time.setHours(clock_time.getHours() + 12);
                }
                clock_time.setMinutes(clock_time.getMinutes() + offset);
                $time.text(clock_time.toLocaleTimeString());
            }

        }

    </script>
{% endblock %}

{# Macros for the program actions that can be assigned to a start or stop event #}

{% macro select_option(value, selected_value) -%}
    <p>{{ selected_value }}</p>
    {% if value == selected_value %}
        <option value="{{ value }}" selected="true">{{ value | capitalize() }}</option>
    {% else %}
        <option value="{{ value }}">{{ value | capitalize() }}</option>
    {% endif %}
{%- endmacro %}

{% macro program_actions(id, class, name, selected_value) %}
    <select id="{{ id }}" class="{{ class }}" name="{{ name }}">
        {{ select_option("none", selected_value) }}
        {{ select_option("on", selected_value) }}
        {{ select_option("off", selected_value) }}
    </select>
{% endmacro %}

{# Macros for generating the start/stop trigger method #}

{% macro trigger_methods(id, class, name, selected_value, onchange) %}
    <select id="{{ id }}" class="{{ class }}" name="{{ name }}" onchange="javascript:{{ onchange }}">
        {{ select_option("none", selected_value) }}
        {{ select_option("clock-time", selected_value) }}
        {{ select_option("sunset", selected_value) }}
        {{ select_option("sunrise", selected_value) }}
    </select>
{% endmacro %}

{% block body %}
    <form id="program-form" action="" method="post" onsubmit="return validate_inputs()">
        <h2>Module: {{ module.name }} - Program:
            <input type="text" class="input-program-name" name="program-name" value="{{ program.name }}" >
        </h2>

        {#
        Hidden fields for sunrise/sunset
        #}
        <input type="hidden" id="sunset" value="{{ sun_data['sunset'] }}">
        <input type="hidden" id="sunrise" value="{{ sun_data['sunrise'] }}">

        {#
        Days of week group box
        #}

        <fieldset id="days-of-week" class="days-of-week">
            <legend>Days</legend>
            {# The initial state of the checkboxes is set by Javascript above #}
            <input type="checkbox" class="weekday" id="dow0" name="dow0" value="0" >Monday<br/>
            <input type="checkbox" class="weekday" id="dow1" name="dow1" value="1" >Tuesday<br/>
            <input type="checkbox" class="weekday" id="dow2" name="dow2" value="2" >Wednesday<br/>
            <input type="checkbox" class="weekday" id="dow3" name="dow3" value="3" >Thursday<br/>
            <input type="checkbox" class="weekday" id="dow4" name="dow4" value="4" >Friday<br/>
            <input type="checkbox" class="weekendday" id="dow5" name="dow5" value="5" >Saturday<br/>
            <input type="checkbox" class="weekendday" id="dow6" name="dow6" value="6" >Sunday<br/>

            <button type="button" class="edit-button" onclick="setWeekdays()">Week Days</button>
            <button type="button" class="edit-button" onclick="setWeekenddays()">Week End</button>
        </fieldset>

        {#
        Start trigger group box
        #}

        <fieldset class="start-trigger-group">
            <legend>Start/On Trigger</legend>
            {# Start trigger macro #}
            {{ trigger_methods("start-trigger-method", "start-trigger-method", "start-trigger-method",
                program.start_trigger_method, "startTriggerChanged()") }}

            <fieldset id="start-time-group" class="program-trigger-group">
                <legend>Start time</legend>
                <input id="start-time" type="text" class="input-time" name="start-time" value="{{ program.start_time }}"
                       onblur='show_offset_time("start-trigger-method", "start-offset", "start-offset-time", "start-time")'>
            </fieldset>

            <fieldset id="start-offset-group" class="program-trigger-group">
                <legend>Start Offset</legend>
                <input type="text" id="start-offset" class="input-number" name="start-offset"
                       value="{{ program.start_offset }}"
                       onblur='show_offset_time("start-trigger-method", "start-offset", "start-offset-time", "start-time")'>
                <span> = </span>
                <span id="start-offset-time" class="offset-time">TIME</span>
            </fieldset>

            <fieldset id="start-randomize-group" class="program-trigger-group">
                <legend>Randomize</legend>
                <input type="checkbox" class="start-randomize" id="start-randomize" name="start-randomize" value="1" >Randomize +/-
                <input type="text" id="start-randomize-amount" class="input-number" name="start-randomize-amount" value="{{ program.start_randomize_amount }}">
                <br/>
            </fieldset>
        </fieldset>

        {#
        Stop trigger group box
        #}

        <fieldset class="stop-trigger-group">
            <legend>Stop/Off Trigger</legend>
            {# Stop trigger macro #}
            {{ trigger_methods("stop-trigger-method", "stop-trigger-method", "stop-trigger-method",
                program.stop_trigger_method, "stopTriggerChanged()") }}

            <fieldset id="stop-time-group" class="program-trigger-group">
                <legend>Stop time</legend>
                <input id="stop-time" type="text" class="input-time" name="stop-time" value="{{ program.stop_time }}"
                       onblur='show_offset_time("stop-trigger-method", "stop-offset", "stop-offset-time", "stop-time")'>
            </fieldset>

            <fieldset id="stop-offset-group" class="program-trigger-group">
                <legend>Stop Offset</legend>
                <input type="text" id="stop-offset" class="input-number" name="stop-offset"
                       value="{{ program.stop_offset }}"
                       onblur='show_offset_time("stop-trigger-method", "stop-offset", "stop-offset-time", "stop-time")'>
                <span> = </span>
                <span id="stop-offset-time" class="offset-time">TIME</span>
            </fieldset>

            <fieldset id="stop-randomize-group" class="program-trigger-group">
                <legend>Randomize</legend>
                <input type="checkbox" class="stop-randomize" id="stop-randomize" name="stop-randomize" value="1" >Randomize +/-
                <input type="text" id="stop-randomize-amount" class="input-number" name="stop-randomize-amount" value="{{ program.stop_randomize_amount }}">
                <br/>
            </fieldset>
        </fieldset>

        <div class="clear"></div>

        {#
        Start and Stop action group boxes
        #}

        <fieldset class="start-action-group">
            <legend>Start Action</legend>
            {{ program_actions("start-action", "start-action", "start-action", program.start_action) }}
        </fieldset>

        <fieldset class="stop-action-group">
            <legend>Stop Action</legend>
            {{ program_actions("stop-action", "stop-action", "stop-action", program.stop_action) }}
        </fieldset>

        <div class="clear"></div>
        <button class="edit-button" name="save" type="submit" value="save">Save</button>
        {#
        <button class="edit-button" name="cancel" type="submit" value="cancel">Cancel</button>
        #}
        <button class="edit-button" name="cancel" type="button" value="cancel"
                onclick="window.location.replace('{{ url_for('module_programs', moduleid=program.moduleid) }}')">Cancel</button>
    </form>

    <div class="clear"></div>

{% endblock %}

{% block footer_links %}
    <a href="{{ url_for('module_programs', moduleid=program.moduleid) }}">Back</a>
{% endblock %}