{% extends 'layout.html' %}

{% block body %}
    <h2>Change Password</h2>

    <form action="" method="POST" class="input-form" role="form">
        {{ form.hidden_tag() }}
        <label class="input-label">Old password</label>
        <input type="password" class="input-text" name="old_password"/>
        <br/>
        <label class="input-label">New password</label>
        <input type="password" class="input-text" name="new_password"/>
        <br/>
        {% if user_manager.enable_retype_password %}
            <label class="input-label">Re-type password</label>
            <input type="password" class="input-text" name="retype_password"/>
            <br/>
        {% endif %}
        <input type="submit" class="edit-button" name="submit" value="Change Password">
    </form>

{% endblock %}