{% extends 'layout.html' %}

{% block body %}
    <div ng-controller="loginController">
    <h2>AHPS_Web Login</h2>

    <form action="" method="POST" class="input-form" role="form">
        {{ form.hidden_tag() }}
        <label class="input-label">User name</label>
        <input type="text" class="input-text" name="username"/>
        <br/>
        <label class="input-label">Password</label>
        <input type="password" class="input-text" name="password"/>
        <br/>
        <input type="submit" class="edit-button" name="submit" value="Login">
    </form>
    </div>
{% endblock %}

{# AngularJS script files #}
{% block angularjs %}
    <script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}" type="text/javascript"></script>
{% endblock %}
